asn1crypto==0.24.0
beautifulsoup4==4.7.1
certifi==2019.3.9
cffi==1.12.3
Click==7.0
cryptography==3.2
Flask==1.0.3
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.16.3
pycparser==2.19
pycurl==7.43.0.2
pyOpenSSL==19.0.0
PySocks==1.7.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.1
urllib3==1.25.3
Werkzeug==0.15.4
win-inet-pton==1.1.0
wincertstore==0.2
